@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
  }

@keyframes moveIn {
    from {
        transform: translate(0, -100%);
        opacity: 0;
    }

    to {
        transform: translate(0%);
        opacity: 1;
    }
}

@keyframes moveInRightToLeft {
    from {
        transform: translate(20%);
        opacity: 0;
    }

    to {
        transform: translate(0%);
        opacity: 1;
    }
}

@keyframes moveInLeftToRight {
    from {
        transform: translate(-100%);
        opacity: 0;
    }

    to {
        transform: translate(0%);
        opacity: 1;
    }
}

body{
    /* color: rgb(71, 106, 172); */
}

.weatherWidget {
    max-width: 550px;
    width: fit-content;
    margin: auto;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    /* font-family: 'Open Sans', sans-serif; */
    box-shadow: 0px 8px 20px 0px darkslategrey;
    text-shadow: 1px 1px 3px floralwhite; 
}

.topRight {
    display: inline-flex;
}

.additionalParametersContainer {
    overflow: hidden;
    margin-top: auto;
}

.currentConditions {
    animation: fadeIn 1s linear 0s;
    display: inline-flex;
    width: 100%;
}

.mainParameters {
    width: 50%;
    animation: fadeIn 1.5s ease-in-out;
    overflow: hidden;
}

.spacer {
    padding: 15px;
    border-left: solid 1px;
    border-color: darkgray;
}

.icon_and_temp{
    margin: 0 auto;
}

#currentCity{  
    font-size: x-large;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

#currentStateRegion{
    opacity: 0;  
    animation: fadeIn 1s 0.2s ease-in-out forwards;
}

#currentTemperature{
    font-size: 3.5em;
}

.additional_parameters{
    margin-top: auto;
    text-align: left;
    animation: moveInLeftToRight 1s ease-in-out;
    overflow: hidden;
    font-size: smaller;
}

.nextDays{
    display: inline-flex;
    overflow: hidden;
} 

.nextDay{
    padding: 5px;
    opacity: 0;
    height: 100px;
}

.nextDay:hover{
    height: 180px;
    text-shadow: 0 0 #C5DDE8;
}

.hidden{
    display: none;
    transition: width, height 1s ease-in-out;
}

#day1{ 
    animation: moveIn 0.8s ease-in-out forwards;
}
#day2{
    animation: moveIn 0.8s 0.2s ease-in-out forwards;
}
#day3{
    animation: moveIn 0.8s 0.4s ease-in-out forwards;
}
#day4{
    animation: moveIn 0.8s 0.6s ease-in-out forwards;
}
#day5{
    animation: moveIn 0.8s 0.8s ease-in-out forwards;
}

.btn {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    outline: none;
    transform: translate(0,25px) rotate(-90deg);
}